.app_screenshot {
    border-color: #000000;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}
.danger {
    background: #ff0e0e64;
    border-radius: 10px;
    padding:  0.5em 1em;
}

.danger h2 {
    border-bottom: None;
}